# Task 1

In [3]:
import pandas as pd
import numpy as np

In [8]:
Height=pd.Series(np.random.randint(100,300,size=(4)))
Weight=pd.Series(np.random.default_rng().uniform(20,200,size=(4)))
BodyFat=pd.Series(np.random.randint(0,100,size=(4)))
Size=pd.Series(np.random.randint(1,10,size=(4)))

In [10]:
df=pd.DataFrame([Height,Weight,BodyFat,Size])

# Task 2

In [35]:
df=df.rename(columns={0:'Random Value 1',1: 'Random Value 2', 2:'Random Value 3', 3:'Random Value 4'})
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0      290.000000      143.000000      135.000000      204.000000
1       50.115676      178.725731      199.601213       49.677711
2       72.000000       55.000000       28.000000       51.000000
3        6.000000        1.000000        4.000000        5.000000

# Task 3

In [36]:
print("The Descriptive statistics of dataframe are: ")
print(df.describe())

The Descriptive statistics of dataframe are:
       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean       104.528919       94.431433       91.650303       77.419428
std        126.657545       81.135083       91.772421       87.053248
min          6.000000        1.000000        4.000000        5.000000
25%         39.086757       41.500000       22.000000       38.508284
50%         61.057838       99.000000       81.500000       50.338856
75%        126.500000      151.931433      151.150303       89.250000
max        290.000000      178.725731      199.601213      204.000000

# Task 4

In [37]:
print(df.isnull())
print(df.isnull().sum())

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

In [38]:
for i in df.columns:
    print("Data type of column "+str(i)+" is : ",df[i].dtype)

Data type of column Random Value 1 is :  float64
Data type of column Random Value 2 is :  float64
Data type of column Random Value 3 is :  float64
Data type of column Random Value 4 is :  float64

# Task 5

In [40]:
df.loc[:,'Random Value 2':'Random Value 3']

   Random Value 2  Random Value 3
0      143.000000      135.000000
1      178.725731      199.601213
2       55.000000       28.000000
3        1.000000        4.000000

In [41]:
df.iloc[:,2:4]

   Random Value 3  Random Value 4
0      135.000000      204.000000
1      199.601213       49.677711
2       28.000000       51.000000
3        4.000000        5.000000